<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "Header.html" %}
<form method="POST">
    {% csrf_token %}
    <div align="center">
        <h1>User Registration</h1>
        <table>

            <tr>
                <th>First Name:</th>
                <td><input type="text" name="firstName"></td>
                <td style="position: fixed; color: red;"> {{ form.inputError.firstName }}</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td><input type="text" name="lastName"></td>
                <td style="position: fixed; color: red;"> {{ form.inputError.lastName }}</td>
            </tr>
            <tr>
                <th>Login Id:</th>
                <td><input type="text" name="loginId"></td>
                <td style="position: fixed; color: red;"> {{ form.inputError.loginId }}</td>
            </tr>
            <tr>
                <th>Password:</th>
                <td><input type="text" name="password"></td>
                <td style="position: fixed; color: red;"> {{ form.inputError.password }}</td>
            </tr>
            <tr>
                <th>Confirm Password:</th>
                <td><input type="text" name="confirmPassword"></td>
                <td style="position: fixed; color: red;"> {{ form.inputError.confirmPassword }}</td>
            </tr>
            <tr>
                <th>Dob :</th>
                <td><input type="date" name="dob"></td>
                <td style="position: fixed; color: red;"> {{ form.inputError.dob }}</td>
            </tr>
            <tr>
                <th>Address:</th>
                <td><input type="text" name="address"></td>
                <td style="position: fixed; color: red;"> {{ form.inputError.address }}</td>
            </tr>
            <tr>
                <th>Gender:</th>
                <td><input type="text" name="gender"></td>
                <td style="position: fixed; color: red;"> {{ form.inputError.gender }}</td>
            </tr>
            <tr>
                <th>Mobile Number:</th>
                <td><input type="text" name="mobileNumber"></td>
                <td style="position: fixed; color: red;"> {{ form.inputError.mobileNumber }}</td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" name="signUp"></td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>